@{
    ViewData["Title"] = "Home Page";
    ViewBag.Current = "Home";
}

<div class="jumbotron">
    <h2>Dobrodosli na stranicu video kluba</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Dobrodosli @User.Identity.Name</p>
        <a asp-controller="Security" asp-action="Logout" class="btn btn-warning">Logout</a>
    }
    else
    {
        <p>Ulogujte se kako biste mogli da pristupite aplikaciji</p>

        <a asp-controller="Security" asp-action="Login" class="btn btn-success">Login</a>
    }

</div>